<div id="error-page" class="container p-5">
  <div class="header text-center">
    <h1 class="display-1">Oops!</h1>
    <h3>500 Internal Server Error</h3>
    <hr class="border border-light border-1" />
  </div>
  <div class="err-message p-5">
    <pre><%= error %></pre>
  </div>
</div>
